@{
    ViewBag.Title = "List";
}

<script type="text/javascript">
  var x = true;

  var DataBindConvention = {
    selector: "*[data-bind]",
    handler: {
      bind: function (selector, view, model) {
        view.$(selector).each(function (index) {
          var element = view.$(this);
          var databind = element.attr("data-bind").split(" ");
          var elementAttr = databind[0];
          var modelAttr = databind[1];

          var binder = function (changedModel, val) {
            switch (elementAttr) {
              case "html":
                element.html(val);
                break;
              case "text":
                element.text(val);
                break;
              default:
                element.attr(elementAttr, val);
            }
          };
          model.bind("change:" + modelAttr, binder);
          binder(model, model.attributes[modelAttr]);
        });
      }
    }
  };

  Backbone.ModelBinding.Conventions.dataBind = DataBindConvention;
</script>

<script type="text/javascript">
  window.Routers = {};
  window.Models = {};
  window.Views = {};
  window.Collections = {};

  window.createUUID = function(){
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
        return v.toString(16);
    });
  };

  $(function () {
    Routers.Game = Backbone.Router.extend({
      initialize: function(options){
        //bindAll(this, 'index');
        this.vent = options.vent;
        this.vent.bind('Router.redirectTo', _.bind(this.redirectTo, this));
      },
      routes: {
        'add': 'add',
        '*actions': 'index'
      },
      redirectTo: function(target){
        console.log('?', target, arguments);
        this.navigate(target, true);
      },
      add: function(){
        var model = new Models.Game();
        var addView = this.views['add'] || (this.views['add'] = new Views.GameAdd({el: $('#container'), vent: this.vent}));
        addView.model = model;
        addView.render();
      },
      index: function () {        
        var games = new Collections.GameCollection();
        games.fetch({
          success: function (collection, response) {
            var gameCollectionView = new Views.GameCollection({
              collection: collection,
              el: $('#container')
            });

            gameCollectionView.render();
          }
        });
      },
      views: {}
    });

    Models.Game = Backbone.Model.extend({
      defaults: {
        Name: 'New Game',
        IsWatched: false
      },
      url: '/game/data'
    });

    Collections.GameCollection = Backbone.Collection.extend({
      model: Models.Game,
      url: '/game/data'
    });

    Views.GameCollection = Backbone.View.extend({
      initialize: function () {
        var _this = this;
        _this._views = [];

        _this.collection.each(function (model) {
          _this._views.push(new Views.GameRow({
            model: model
          }));
        });
      },
      render: function () {
        var _this = this;
        $(_this.el).empty();
        this.el.append(_.template($('#GameCollection_template').html(), this.model));

        var tbody = $(_this.el).find('table tbody');
        _(_this._views).each(function (v) {
          tbody.append(v.render().el);
        });

        return this;
      }
    });

    Views.GameRow = Backbone.View.extend({
      isRendered: false,
      render: function () {
        var rendering = $(_.template($('#GameRow_template').html(), this.model.toJSON()));
        if (!this.isRendered) {
          this.el = rendering;
          this.isRendered = !this.isRendered;
        }
        else {
          $(this.el).replaceWith(rendering);
          this.el = rendering;
        }

        Backbone.ModelBinding.call(this);
        this.delegateEvents();
        return this;
      },
      events: {
        'click .watchlist': 'watchListToggle',
        'click .delete': 'deleteGame',
      },
      watchListToggle: function () {
        var IsWatched = this.model.get('IsWatched');
        this.model.set({ IsWatched: !IsWatched });
        this.model.save();
        this.render();        
      },
      deleteGame: function(){
        this.model.destroy({
          success: function(){console.log('deleted');}, 
          error: function(){console.log('fail');}, 
        });        
      }
    });

    Views.GameAdd = Backbone.View.extend({
      render: function(){
        $(this.el).empty();
        this.el.append(_.template($('#GameAdd_template').html(), this.model));
      },
      events: {
        'click .cancel': 'cancel',
        'click .save': 'save',
      },
      cancel: function(){
        this.vent.trigger('Router.redirectTo', '');
      },
      save: function(){
        this.model.save(null, {
            success:_.bind(function(model){
              this.vent.trigger('Router.redirectTo', '');
            }, this)});        
      },
      initialize: function(options){
        this.vent = options.vent;
      }
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    var vent = _.extend({}, Backbone.Events);

    var router = new Routers.Game({ vent: vent });
    Backbone.history.start({ pushState: false });
  });
</script>

<div id="container">
  
</div>

<script type="text/template" id="GameAdd_template">
<form>
  <legend>Add a game</legend>
  <fieldset>
  <ol>
    <li><input type="text" id="Name" data-bind="value Name" /></li>
  </ol>
  </fieldset>
  <fieldset>
    <button class="save" type="button">Save</button>
    <button class="cancel" type="button">Cancel</button>
  </fieldset>
</form>
</script>

<script type="text/template" id="GameCollection_template">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<a href="#add">Add</a>
</script>

<script type="text/template" id="GameRow_template">
<tr>
  <td data-bind="text Name"></td>
  <td class="watchlist">
    <button><%= IsWatched ? 'Unwatch' : 'Watch' %></button>
  </td>
  <td><button class="delete">Delete</button></td>
</tr>
</script>